<div id='bubblePopper'>
        <canvas id='canvas' width='1500' height='750' ng-click='canvasClick($event);'
style='border:1px solid black'></canvas>
        <audio src='audio/Blop-Mark_DiAngelo-79054334.wav' preload='auto' id='popAudio0'>
        </audio>
        <audio src='audio/Blop-Mark_DiAngelo-79054334.wav' preload='auto' id='popAudio1'>
        </audio>
        <audio src='audio/Blop-Mark_DiAngelo-79054334.wav' preload='auto' id='popAudio2'>
        </audio>
        <audio src='audio/Blop-Mark_DiAngelo-79054334.wav' preload='auto' id='popAudio3'>
        </audio>
</div>
