<section id='relationshipEditor'>
<div class='actions'>
    <button ng-click='exportJSON();'>Export JSON</button>
</div>


<div class='header'>
    <span>
        <img class='charIcon' src='{{getImage()}}' />
    </span> 
    <select ng-model='selectedChar' ng-options='char.name for char in characters'></select>

    <label for='name'>Name:</label><input type='text' name='name' id='name' ng-model='selectedChar.name' />
    <label for='house'>House:</label><input type='text' name='house' id='house' ng-model='selectedChar.house' />
    <label for='image'>Image:</label><input type='text' name='image' id='image' ng-model='selectedChar.image' />
    <a href='{{"http://awoiaf.westeros.org" + selectedChar.link}}'>LINK</a>


</div>

<ol class='tableContainer'>
    <li ng-repeat='link in links'>
        <span>
            <img class='charIcon' src='{{getImage(link)}}' />
        </span> 
        <span class='name header'>
            {{getLinkName(link)}}
        </span>
        <span class='house'>
            <label>House:</label>
            {{getLinkHouse(link)}}
        </span> 
        <span class='relationship'>
            <label>Relationship:</label>
            <select ng-change='linkTypeChange(link, $index);' ng-model='link.type'>
                <option value='marriage'>Marriage</option>
                <option value='parental'>Parent/Child</option>
                <option value='sibling'>Sibling</option>
                <option value='related'>Related - Other(Aunt, Cousin, Uncle, Adopted)</option>
                <option value='household'>Household Member</option>
                <option value='bounded'>Sworn To</option>
                <option value='interaction'>Major Interaction</option>
            </select>
        </span>
        <span>
            <button ng-click='moveUp(link, $index)' ng-disabled='$index <= 0'>Move Up</button>
        </span>
        <span>
            <button ng-click='deleteLink(link)'>Delete Link</button>
        </span>

    </li>

    <li>
        <select ng-model='newChar' ng-options='char.name for char in characters'></select>

        <span class='relationship'>
            <label>Relationship:</label>
            <select  ng-model='newRelationship'>
                <option value='marriage'>Marriage</option>
                <option value='parental'>Parent/Child</option>
                <option value='sibling'>Sibling</option>
                <option value='related'>Related - Other(Aunt, Cousin, Uncle)</option>
                <option value='household'>Household Member</option>
                <option value='bounded'>Sworn To</option>
            </select>
        </span>
        <span>
            <button ng-click='addNew();'>AddNew</button>
        </span>

    </li>
</ol>


<div class='actions'>
    <button ng-click='exportJSON();'>Export JSON</button>
</div>

<div class='characters'>
    <div>CHARACTERS</div>
    <textarea ng-model='charJSON' rows='100'></textarea>
</div>
<div class='links'>
    <div>LINKS</div>
    <textarea ng-model='linkJSON' rows='100'></textarea>
</div>

</section>